---
import FullPageSlideComponent from "~/components/FullPageSlideComponent.astro";
import sparkles from "../../../assets/images/misc/slide2/sparkle.svg";
import shiny from "../../../assets/images/misc/slide2/shiny.svg";
import heart from "../../../assets/images/misc/slide2/heart.svg";
import stars from "../../../assets/images/misc/slide2/stars.svg";
import underline from "../../../assets/images/misc/slide2/underline.svg";
import line from "../../../assets/images/misc/slide2/line.svg";

import Container from "~/components/Container.astro";
import { GetStaticPathsInvalidRouteParam } from "node_modules/astro/dist/core/errors/errors-data";
---

<style lang="scss">
  h1 {
    text-align: justify;
    font-size: 54px;
    color: var(--secondary-dark);
    z-index: 2;
  }

  .image {
    position: absolute;
    right: 100px;
    margin-top: -175px;
  }

  .highlight {
    display: block;
    color: white;
    font-size: 74px;
  }

  p {
    position: relative;
    text-align: left;
    color: white;
    font-size: 25px;
    margin: 40px;

    &.first_p {
      position: relative;

      .first_image {
        position: absolute;
        top: -90px;
        left: -133px;
      }
      .second_image {
        position: absolute;
        top: 50px;
        right: 173px;
      }
    }

    .line {
      position: absolute;
      top: 30px;
      left: -20px;
    }
    .underline {
      position: absolute;
      top: 36px;
      left: -20px;
    }
  }

  .list_itens {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;

    .item {
      display: block;
      margin-top: 30px;
      background-color: var(--secondary-dark);
      color: white;
      font-size: 25px;
      text-align: justify;
      padding: 15px 20px;
      border-radius: 8px;
      max-width: 600px;
      box-shadow: -5px -5px 0px 0px rgb(255, 255, 255);
    }
    .third_image {
      position: absolute;
      top: 65px;
      right: 0px;
    }
  }
</style>

<FullPageSlideComponent bgColor="--primary-main">
  <Container>
    <h1>
      Parabéns
      <span class="highlight">PAPAIS!!</span>
      <img
        src={shiny.src}
        width={shiny.width}
        height={shiny.height}
        alt=""
        class="image"
      />
    </h1>
    <p class="first_p">
      <img
        src={sparkles.src}
        width={sparkles.width}
        height={sparkles.height}
        alt=""
        class="first_image"
      />
      Vocês viveram nove meses de expectativa, sonhos e preparação. Agora, o momento
      mais especial chegou: o seu bebê está em casa, nos seus braços, trazendo amor
      e descobertas.
      <img
        src={heart.src}
        width={heart.width}
        height={heart.height}
        alt=""
        class="second_image"
      />
    </p>
    <p>
      E agora?
      <img
        src={line.src}
        width={line.width}
        height={line.height}
        alt=""
        class="line"
      />
      <img
        src={underline.src}
        width={underline.width}
        height={underline.height}
        alt=""
        class="underline"
      />
    </p>
    <div class="list_itens">
      <div class="item">Será que o leite materno é suficiente?</div>
      <div class="item">Como garantir que o bebê está crescendo bem?</div>
      <div class="item">
        Banho de sol, vacinas, passeios... o que é prioridade?
      </div>
      <img
        src={stars.src}
        width={stars.width}
        height={stars.height}
        alt=""
        class="third_image"
      />
    </div>
    <p>
      Essas dúvidas são comuns e completamente normais. E é exatamente por isso
      que estou aqui: para te orientar, responder suas perguntas e tornar esse
      momento ainda mais especial e tranquilo!
    </p>
  </Container>
</FullPageSlideComponent>
